* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.notification-icon img {
    width: 20rem;
    height: 20rem;
}

h2 {
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0AE4B3;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2CE1FE;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}